# Lire le fichier dans une liste

## Énoncer

### . Lire le fichier 'unisex_names.csv'
### . Assigner cette caractère a la variable names
### . Convertir names en liste
### . Assigner le résultat  a la variable names_list
### . Afficher les 10 prémière élément

In [2]:
names = open('Data/unisex_names.csv','r').read()
names_list = names.split('\n')
print(names_list[0:10])

['Casey,176544.328149', 'Riley,154860.665173', 'Jessie,136381.830656', 'Jackie,132928.78874', 'Avery,121797.419516', 'Jaime,109870.18729', 'Peyton,94896.395216', 'Kerry,88963.92625', 'Jody,80400.519199', 'Kendall,79210.873961']

---

# Convertir la liste en liste de listes

### . Créer une liste names_data
### . Écrire une boucle qui convertit notre liste en liste de listes

In [9]:
names_data = []
for row in names_list:
    name = row.split(',')
    names_data.append(name)
print(names_data[0:5])

[['Casey', '176544.328149'], ['Riley', '154860.665173'], ['Jessie', '136381.830656'], ['Jackie', '132928.78874'], ['Avery', '121797.419516']]

---

# Convertir les valeurs numériques

### . Créer une nouvelle liste numerical_list
### . Écrire une boucle qui vonvertit les nombres en nombres décimaux

In [30]:
numerical_list = []
for name in names_data:
    list = [name[0], float(name[1])]
    numerical_list.append(list)
print(numerical_list[0:5])

[['Casey', 176544.328149], ['Riley', 154860.665173], ['Jessie', 136381.830656], ['Jackie', 132928.78874], ['Avery', 121797.419516]]

---

# Filtrer la liste

## Énoncé
### . Créer une liste vide final_list
### . Écrire une boucle qui conserve seulement les prénoms partagés par au moins 1000 personnes 
### . Afficher les 10 prémière éléments de final_list

In [36]:
final_list = []
for name in numerical_list:
    value = name[1]
    if value >= float(1000):
        final_list.append(name[0])
print(final_list[0:10])

['Casey', 'Riley', 'Jessie', 'Jackie', 'Avery', 'Jaime', 'Peyton', 'Kerry', 'Jody', 'Kendall']