## Fonction pour ouvrire et lire le dataset

In [172]:
def open_files(path):
    f = open(path, 'r').read()
    data = f.split('\n')
    return data

In [176]:
data = open_files('Data/US_births_2000-2014.csv')

In [189]:
print(data[0:10])

['year,month,date_of_month,day_of_week,births', '2000,1,1,6,9083', '2000,1,2,7,8006', '2000,1,3,1,11363', '2000,1,4,2,13032', '2000,1,5,3,12558', '2000,1,6,4,12466', '2000,1,7,5,12516', '2000,1,8,6,8934', '2000,1,9,7,7949']

## Cr√©ation d'une fonction pour transformer le dataset en liste de liste en convertissant les valeurs en entier

In [178]:
def read_csv():
    list_data = data[1:]
    data_births_list = []
    for birth in list_data:
        int_field = []
        birth_list = birth.split(',')
        for row in birth_list:
            int_field.append(int(row))
        data_births_list.append(int_field)
    return data_births_list

In [179]:
us_birth_list = read_csv()

In [188]:
print(us_birth_list[0:10])

[[2000, 1, 1, 6, 9083], [2000, 1, 2, 7, 8006], [2000, 1, 3, 1, 11363], [2000, 1, 4, 2, 13032], [2000, 1, 5, 3, 12558], [2000, 1, 6, 4, 12466], [2000, 1, 7, 5, 12516], [2000, 1, 8, 6, 8934], [2000, 1, 9, 7, 7949], [2000, 1, 10, 1, 11668]]

## Calculons le nombre de naissance par mois

In [181]:
def month_birth():
    dict_birth = {}
    for birth in us_birth_list:
        if birth[1] in dict_birth:
            dict_birth[birth[1]] += birth[4]
        else:
            dict_birth[birth[1]] = birth[4]
    return dict_birth

In [183]:
month_birth()

{1: 5072588,
 2: 4725693,
 3: 5172961,
 4: 4960750,
 5: 5195445,
 6: 5163360,
 7: 5450418,
 8: 5540170,
 9: 5399592,
 10: 5302865,
 11: 5008750,
 12: 5194432}

## Le nombre de naissance par jour de la semaine

In [186]:
def day_births():
    births_dict = {}
    for days in us_birth_list:
        days_week = days[3]
        births = days[4]
        if days_week in births_dict:
            births_dict[days_week] += births
        else:
            births_dict[days_week] = births
    return births_dict

In [202]:
us_days_births = day_births()

print(us_days_births)

{6: 6704495, 7: 5886889, 1: 9316001, 2: 10274874, 3: 10109130, 4: 10045436, 5: 9850199}

In [203]:
def clacs_count(column):
    births_dict = {}
    for days in us_birth_list:
        days_week = days[column]
        births = days[4]
        if days_week in births_dict:
            births_dict[days_week] += births
        else:
            births_dict[days_week] = births
    return births_dict

In [207]:
clacs_count(0)

{2000: 4149598,
 2001: 4110963,
 2002: 4099313,
 2003: 4163060,
 2004: 4186863,
 2005: 4211941,
 2006: 4335154,
 2007: 4380784,
 2008: 4310737,
 2009: 4190991,
 2010: 4055975,
 2011: 4006908,
 2012: 4000868,
 2013: 3973337,
 2014: 4010532}